body {
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to right, white, navy );
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#city-lookup {
    margin-left: 20px;
}